<div class="row">
    <div class="col-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Valqui Jose Branko</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consequatur cumque veritatis beatae odio sint commodi expedita porro debitis ipsum, unde assumenda repudiandae ullam, laudantium quisquam sed ducimus? Cumque, fugit.</p>
        </span>
    </div>
</div>
